<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="./src/img/bookworm.svg"
      sizes="any"
      type="image/svg+xml"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+2:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/book.styles.css" />
    <title>CihuyBookstore - Book</title>
  </head>
  <body>
    {{> nav}}
    <main>
      <div class="container py-4">
        <div class="row pb-2">
          <div class="col-md-3 py-3">
            <img class="book-cover py-auto" src="{{{data.imageLinks}}}" />
          </div>
          <div class="col-md-6">
            <div class="pt-2 book-field">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td>Title</td>
                    <td>: {{data.title}}</td>
                  </tr>
                  <tr>
                    <td>Author</td>
                    <td>: {{data.authors}}</td>
                  </tr>
                  <tr>
                    <td>Publisher</td>
                    <td>: {{data.publisher}}</td>
                  </tr>
                  <tr>
                    <td>Published</td>
                    <td>: {{data.publishedDate}}</td>
                  </tr>
                  <tr>
                    <td>Pages</td>
                    <td>: {{data.pageCount}}</td>
                  </tr>
                  <tr>
                    <td>Categories</td>
                    <td>: {{data.categories}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="mb-2">Description</p>
              <div class="book-description">
                <p>{{data.description}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex flex-column h-100">
              <div class="book-price ">
                <p>Price</p>
                <p>Rp{{data.price}}</p>
              </div>
              <button
                id="add-to-cart"
                bookId="{{{data.id}}}"
                class="add-to-cart"
              >
                <img
                  class="shopping-icon mb-1"
                  src="/src/img/shopping-bag.svg"
                />
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    {{> footer}}

    <script
      src="https://kit.fontawesome.com/8838a4cfa3.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="/src/book.bundle.js"></script>
  </body>
</html>
