<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="/src/img/bookworm.svg"
        width="50"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      <span><strong>Toko Buku Cihuy</strong></span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <form action="/books" method="get" class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input
            name="search"
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
